
@media (max-width: 980px) {

.page-content				{width:95%;}
.wrapper 					{width:100%; padding:0; }
.search-area				{width:100%;}
.search-box					{width:100%; float:left;}
.bottom-content				{width:99.6%;}
.top-content				{width:100%;}
.forgote_password_pad		{margin: 0 auto; float:none;}
/*  body Styles */
}

@media screen  and (max-width: 700px) {

#colorbox					{ top:10px!important;}

}
/* Smartphones (portrait and landscape) ----------- */
@media screen  and (max-width : 480px) {
.header-right.mob-wd-100	{width:100%; margin-top:135px;}
.header-btm-rt				{padding:10px 0; text-align:center;}
.header-btm-rt span			{display:block; padding:0;}
.logo img					{ width:90%;}
.header-right				{width:30%; margin-right:0%;}
.nav-area					{display:none;}
.icon						{width:148%; margin-top:-8%;}
.login-top					{width:100%!important;}
.top						{/*margin-top:135px;*/ width:100%; display:block;float:none;}
.top:after					{clear:both; content: "";display: table;line-height: 0;}
.top form					{float:none;}
.top form#frmLogin			{width:250px; margin:0 auto;}
.top form span.wrap-login	{width:100%;}
.top a						{padding-right:0;}
.top input.bg-grey			{width:94%;}
.wrap-remem span			{display:block;}
.wrap-remem .fl_r			{float:none!important;}
.res-sign					{padding:1% 3%!important;}
.icon a						{margin:0 0 0 7%!important;}
.search-field				{width:55%; margin-left:2%;}
/*content media*/
.welcome-area				{width:93%;height:auto;background:#2083c4; text-align:center;}
.welcome-area a				{color:#fff;}
.profile-img				{float:none;}
.profile-img img			{width:90%;}
.profile-img-home			{float:none; margin:0 auto;}
.profile-img-home img		{width:90%;}
.box, .box2, .box2			{width:100%!important;}
.profile-detail				{width:100%; height:auto;}
.profile-detail h2,
.profile-detail p			{width:100%;}
.welcome-text				{float:left; width:90%; margin-top:10px;}
.content-left				{width:99%!important;}
.content-left h1			{width:97%; font-size:80%;}
.activities-box				{width:95%;}
.activities-box p			{width:65%;}
.act-link					{width:80%;}
.old-post					{width:95%;}
.content-right				{float:left; width:90%; margin:10px 0 0 3%; min-height:10px;}
.signup						{margin:0% auto; float:none;}
.footer-nav					{width:95%;}
.footer-nav span			{width:95%; text-align:center;}
.social-icon				{width:100%;}
.register-form p			{width:100%;}
.register-form textarea		{width:92%!important;}
.forget_mid_part			{width:100%;}
.forgote_password_pad		{width:100%;}
.forget_mid_part			{width:100%;}
.forget_mid_part p			{width:100%; padding-left:2%;}
.error						{padding:0;}
.submit						{float:left!important;}
.forgot_bottom				{width:90%;}
.login-area					{ width:93%; margin-top:10px;}
.churchtrade-box			{ width:99%;margin:0;}
.churchtrade-box img		{ float:none;}
.cata-box					{ width:45%; text-align:center;}
.cata-box p					{ width:100%;}
.churchtrade-box p			{ width:97%;}
.churchtrade-box span		{ width:97%;}
.detail-link				{ width:85%}
.buy-link					{ width:95%; padding-left:5%;}
.success-login 				{ min-height:60px;}
.church-prof-left			{width:100%;}
.church-prof-left h1		{width:97%;}
.wrap-form					{width:100%;}
.small_group_wrap .wrap_pic {width:100%;}

}

/* Small ipad (portrait and landscape) ----------- */
@media screen  and (min-width : 480px) and (max-width : 699px) {
.header-right				{/*width:30%;*/}
.header-btm-rt				{padding:10px 0; text-align:center;}
.header-btm-rt span			{display:block; padding:0;}
/* Nav bar css */
.nav-area 					{width:100%;padding-top: 115px;}
#nav						{width:100%}
#nav li						{width:25%;}
.icon						{width:100%; margin-right:7%;}
.icon a						{margin:0 0 0 7%!important;}
.search-field				{width:65%; margin-left:2%;}
/*content media*/
.welcome-area				{width:95%;height:auto;background:#2083c4;}
.welcome-area a				{color:#fff;}
.profile-detail				{float:none; margin: 0 auto; height:auto;}
.profile-detail h2,
.profile-detail p			{width:100%;}
.welcome-text				{float:left; width:89%; margin-top:10px;}
.content-left				{width:99%;}
.content-left h1			{width:97%;}
.activities-box				{width:95%;}
.activities-box p			{width:81%;}
.act-link					{width:80%;}
.old-post					{width:95%;}
.content-right				{float:left; width:90%; margin:10px 0 0 3%;}
.signup						{margin-left:18%;}
.box, .box2, .box2			{width:100%!important;}
.footer-nav					{width:85%;}
.footer-nav span			{text-align:center;}
.register-form p			{margin-right:2%; width:50%;}
.profile-img				{margin:0 auto; float:none;}
.profile-img-home			{float:none; margin:0 auto;}
.login-area					{margin:0 auto; float:none; margin-top:10px;}
.signin-inside				{margin:0 auto; float:none; margin-top:10px;}
.churchtrade-box			{ width:99%; margin:0;}
.cata-box					{ width:23%; }
.cata-box p					{ width:100%;}
.login-top					{width:100%!important;}
.top						{margin-top:135px; width:100%}
.church-prof-left			{width:100%;}
.church-prof-left h1		{width:97%;}

}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 700px) and (max-width : 980px) {
	
.header-right				{/*width:20%;*/ position:absolute; right:0; top0;}
/* Nav bar css */
.nav-area 					{padding-top: 140px;}
#nav						{width:100%; float:right;}
#nav li						{width:25%;}
.icon						{width:100%; margin-right:7%;}
.icon a						{margin:0 0 0 7%!important;}
.search-field				{width:65%; margin-left:2%;}
/*content media*/
.welcome-area				{width:97%;height:auto;background:#2083c4;}
.profile-detail				{width:65%;}
.profile-img				{width:31%;}
.profile-img img			{width:100%;}
.profile-img-home			{width:31%;}
.profile-img-home img		{width:100%;}
.box						{width:50%}
.profile-detail h2,
.profile-detail p			{width:100%;}
.welcome-text				{float:left; width:89%; margin-top:10px;}
.homewidth					{width:60%!important;}
.content-left				{width:100%!important;}
.content-left h1			{width:97%;}
.activities-box				{width:95%;}
.activities-box p			{width:75%;}
.act-link					{width:80%;}
.old-post					{width:95%;}
.content-right				{width:33%; margin:0px 0% 0 0%;}
.signup						{float:none; margin:0 auto;}
.footer-nav					{width:85%;}
.footer-nav span			{text-align:center;}
.login-area					{width:27%;}
.wdt250						{width:95%!important;}
.signin-inside				{width:100%;}
.churchtrade-box			{ width:99%; margin:0;}
.box2						{ width:62%;}
.top						{width:100%}
.login-top					{width:100%!important;}
.church-prof-left			{width:100%;}
.church-prof-left h1		{width:99%;}

}



/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 980px) and  {



/*  body Styles */
}