/******* internal message ************/


.msg-reader-container {min-height:150px; border-top:4px solid #666;border-left:1px solid #666;border-bottom:1px solid #666;border-right:1px solid #666; margin-top:10px; display:inline-block; width:100%;}
.msg-detail-list{ overflow: hidden; width:97%; padding: 10px; text-align:left;}
.msg-detail{ border:1px solid #666; border-top:4px solid #666; background-color:#FFF; clear: both; display: inline-block; overflow: hidden; padding: 0 2px 21px; width: auto;}
.msg-detail:hover{ background-color:#F1FDC5; }
.default-select-info{ font-size:20px; color:#9C9A9C; height:80px; width:100%; text-align:center; padding:60px 0 0;}


.msg-table > tr {}
.clsMsgList-Col-Highlight, .clsMsgList-Col{ cursor:pointer;}
.clsMsgList-Row{ background-color: #FFF; }
.clsMsgList-Row:hover{ background-color: #EBEBEB;}
.clsMsgList-Selected{ background-color: #CDCDCD;}
.clsMsgList-Row > td{ border-bottom: 1px dotted #C4C4C4;}

tr.msg-unread{ background-color:#FFD76E;}
tr.msg-unread > td{ font-weight:bold;}

.cls-button-cont { clear:both; border-bottom:1px dotted #CCC; padding:10px 15px; }
.flag-cont { border:none; cursor:pointer; color:#fff; text-transform: uppercase; 
	text-align: center; font-size: 12px; font-family: 'AvenirLTStd55RomanBold';	padding: 0px 8px 0px;
}
/*.flag-cont:hover,*/
.flag-f{background:url(/public/icons/flag_yellow.png) no-repeat 0 0px;}
.flag-u{ background:url(/public/icons/flag_white.png) no-repeat 0 0px;}
