@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@font-face {
    font-family: 'cac_champagneregular';
    src: url('../font/cac_champagne-webfont.eot');
    src: url('../font/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cac_champagne-webfont.woff') format('woff'),
         url('../font/cac_champagne-webfont.ttf') format('truetype'),
         url('../font/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display: block;
}
body {
	line-height: 1;
	background: #fff;
	font-family: 'helvetica';
	color: #666;
	font-size: 12px;
	line-height: 18px;
	padding: 0!important;
}
a, img {
	border : none;
	text-decoration: none;
}
a {
	font-weight: normal;
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
	color: #1795d1;
}
.pointer {
	cursor: pointer;
}
.fl {
	float: left!important;
}
.fl_r {
	float: right!important;
}
.clear {
	clear: both;
}
p {
	margin: 0;
}
ul {
	list-style: url(none) none outside;
	float: left;
	margin: 0px;
	padding: 0px;
}
ul li {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: url(none) none outside;
}
.font10 {
	font-size: 10px;
}
.font11 {
	font-size: 11px!important;
}
.font12 {
	font-size: 12px!important;
}
.font13 {
	font-size: 13px;
}
.font14 {
	font-size: 14px;
}
.font15 {
	font-size: 15px;
}
.font16 {
	font-size: 16px;
}
.font17 {
	font-size: 17px;
}
.font18 {
	font-size: 18px;
}
.font19 {
	font-size: 19px;
}
.font20 {
	font-size: 20px;
}
.font25 {
	font-size: 25px;
}
.font35 {
	font-size: 35px;
}

.bgnone {
	background: none!important;
}
.bg-yelow {
	background: #ffcc00!important;
}
.bg-orange {
	background: #f89d32!important;
}
.bg-green {
	background: #8ec649!important;
}
.bg-blue {
	background: #1795d1!important;
}
.bg-lightblue {
	background: #5AB4EA!important;
}
.bg-grey {
	background: #e0e0e0!important;
}
.tex-decor {
	text-decoration: underline;
}
.align-c {
	text-align: center;
}
.align-l {
	text-align: left!important;
}
.displaynone {
	display: none;
}
.displayblock {
	display: block;
}
.blue {
	color: #1795d1!important;
}
.red {
	color: #F00!important;
}
.light-blue {
	color: #5AB4EA!important;
}
.dark-blue {
	color: #064771!important;
}
.black {
	color: #000;
}
.grey {
	color: #777777!important;
}
.grey-light {
	color: #9ea5ab!important;
}


.white {
	color: #fff!important;
}
.bold {
	font-weight: bold;
}
.upper {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.box {
	float: left;
	width: 460px;
}
.box2 {
	float: left;
	width: 640px;
}
.box3 {
	float: left;
	width: 310px;
}
.width100 {
	width: 100%!important;
}
.padding-lft10 {
	padding-left: 10px;
}
.wdt280{width:280px!important;}
.wdt160 {
	width: 160px !important;
}
.wdtauto{width:auto!important;}

.wdt100{width:100%!important;}
.wdt98p{width:98%!important;}
.wdt50p{width:47%!important;}
.wdt70_p{width:70%!important;}

.wdt110 {
	width: 110px !important;
}
.wdt280 {
	width: 280px !important;
}
.wdt250 {
	width: 250px !important;
}
.wdt90 {
	width: 90px !important;
}
.wdt70 {
	width: 70px !important;
}
.wdt50 {
	width: 50px !important;
}
.wdt30 {
	width: 30px !important;
}
.wdt33{width:33% !important;}
.margin0 {
	margin: 0px!important;
}
.margin-rt30 {
	margin-right: 30px!important;
}

.margin-t10 {
	margin-top: 10px!important;
}
.margin-lt20 {
	margin-left: 20px!important;
}
.margi-1 {
	margin-top: -13px;
}
.margi-1-100{margin-left:100px!important;}
.margin-btm10 {
	margin-bottom: 10px!important;
}
.marginbt10 {
	margin-bottom: 10px!important;
}
.marginrt5 {
	margin-right: 5px!important;
}

.padding0 {
	padding: 0!important;
}
.paddingrt10 {
	padding-right: 10px!important;
}
.padding10 {
	padding: 10px!important;
}
.paddingrt5 {
	padding-right:5px!important;
}
.paddingrt15 {
	padding-right:15px!important;
}

.paddingtop10 {
	padding-top: 10px!important;
}
label{
	cursor: auto!important;
}
.bordernone{border:none!important;}
.cac{
	font-family: 'cac_champagneregular'!important;
}
/* main layout */

/* header css */

.login-top {
	float: right;
}
.top {
	float: right;
}
.header-right {
	float: right;
	width: 640px;
}

.header-btm-rt{
	padding:110px 0 0;
	color:#064771;
	/*text-align:right;*/
}
.header-btm-rt span{
	padding-left:50px;
	/*color:#ff0000;*/
	font-weight:bold;
}

.icon {
	float: right;
	background: #c1c1c1;
	padding: 0 0 5px 0;
	position: relative;
	z-index: 100;
}
.icon a {
	float: left;
	width: 23px;
	height: 28px;
	background: url(../images/icon.png) left top no-repeat;
	margin-left: 30px;
}
.top input {
	width: 160px;
	color: #8c8c8c;
	margin-bottom: 5px!important;
}
.top form {
	margin: 0;
	float: right;
	width:460px;}
.top a {
	font-size: 13px;
	padding: 0 29% 0 2%;
}
.top p {
	margin: 0;
}
.message {
	background: url(../images/icon.png) -51px 0px no-repeat!important;
}
.message-unread {
	background: url(../images/icon_urm.png) -51px 0px no-repeat!important;
}
.church-home {
	background: url(../images/icon.png) -113px 0px no-repeat!important;
}
.user {
	background: url(../images/icon.png) -156px 0px no-repeat!important;
}
/* Nav bar css */
.nav-area {
	width: 640px;
	float: right;
	padding-top: 75px;
}
#nav {
	float: left;
	width: 640px;
	margin: 0;
	padding: 0;
	text-align: center;
}
#nav li {
	float: left;
	width: 160px;
	height: 28px;
	padding-top: 5px;
}
#nav li a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
/* main  body layout css */
.main-content {
	background-color: #FFF;
	background: url(../images/body_bg.jpg) left top repeat-x;
	float: left;
	width: 100%;
	margin-bottom:10px;
}
.top-content {
	float: left;
 width::940px;
}
.search-area {
	float: left;
	width: 940px;
	height: 43px;
	background: url(../images/search-area-bg.jpg) left top repeat-x;
	padding-top: 12px;
}
.search-box {
	float: right;
	width: 640px;
}
.search-field {
	float: left;
	width: 465px;
	height: 30px;
}
.go-btn {
	float: left;
	background: url(../images/searc-btn.png) left top no-repeat;
	width: 42px!important;
	height: 35px;
	border: 0;
	margin: 0 10px;
}
.search-btn-disabled {
	float: left;
	background: url(../images/searc-btn-disabled.png) left top no-repeat;
	width: 42px!important;
	height: 35px;
	border: 0;
	margin: 0 10px;
	background-color: transparent!important;
	
}
.search-btn-enabled {
	float: left;
	background: url(../images/searc-btn.png) left top no-repeat;
	width: 42px!important;
	height: 35px;
	border: 0;
	margin: 0 10px;
}
.link {
	float: left;
	font-size: 12px;
	color: #fff;
}
.welcome-area {
	float: left;
	width: 920px;
	background: url(../images/welcom-bg.jpg) left top repeat-x;
	background-color: #59b4e9;
	margin-top: 10px;
	padding: 10px;
}
.welcome-area a {
	float:left;
	padding-right: 10px;
	color:#0F74B8;
}
.edit-prof {
	color: #fff;
	padding: 3px;
	font-size: 13px;
	text-align: center;
	width: 170px;
	float: left;
}
.profile-img-home {
	float: left;
	width: 200px;
}

.profile-detail {
	float: left;
	width: 220px;
	padding-left: 10px;
}
.profile-detail p {
	float: left;
	color: #fff;
	font-size: 14px;
	padding: 0;
	margin: 0;
	line-height: 19px;
	width: 100%;
}
.profile-detail span img {
	height:39px;
}
.rounded25{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	}
.profile-detail h2 {
	float: left;
	color: #fff;
	font-size: 24px;
	padding: 0;
	margin: 0;
	line-height: 25px;
}
.email {
	padding: 5px 0!important;
}
.welcome-text {
	float: right;
	background: #5ab4ea;
	padding: 15px 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	color: #064771;
	width: 420px;
}
.act {
	padding: 25px 0 0 10px;
	float: left;
	font-weight: bold;
}
.connection {
	float: right;
	background: url(../images/add.png) left 4px no-repeat;
	padding-left: 15px;
	color: #fff;
	font-size: 13px;
	margin-top: 15px;
}
.bottom-content {
	float: left;
	width: 940px;
	margin-top: 10px;
	padding-bottom: 20px;
}
.content-left {
	float: left;
	background: #eef7fd;
	border: solid 1px #BBBFC1;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.content-left h1 {
	float: left;
	width: 630px;
	background: #d8edfa;
	color: #064771;
	border-bottom: solid 1px #acdaf4;
	margin: 0;
	padding-left: 10px;
}
.homewidth {
	float: left;
}
.activities-box {
	float: left;
	width: 620px;
	padding: 20px 0px;
	border-bottom: solid 1px #bbbfc1;
	margin: 0 10px;
	position:relative;
}
.activities-box img {
	float: left;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.activities-box p {
	float: left;
	width: 535px;
	padding: 0 0 0 10px;
	margin: 0;
	font-size: 14px;
}
.act-link {
	float: left;
	padding-left:10px;
	width: 535px;
	margin: 0;
}
.act-link li {
	float: left;
	padding: 0 10px 0 0;
	color: #777777;
	font-size: 13px;
	list-style: disc outside;
}
.list-none {
	list-style: none!important;
}
.act-link li a {
	padding: 0 10px 0 0;
	color: #777777;
}
.old-post {
	float: left;
	text-align: center;
	width: 600px;
	padding: 10px;
}
.old-post a {
	cursor: pointer;
	color: #000;
}
.content-right-wrap {
	float: right;
	padding: 10px;
	width: 265px;
}
.content-right {
	float: right;
	padding: 10px;
	background: #f2f2f2;
	width: 265px;
	border: 1px solid #BBBFC1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	min-height: 265px;
}

.content-right p{ color:#064771; text-align:left; float:left; padding:0 0 10px 0;}
.signup {
	float: left;
	width: 235px;
	height: 280px;
	background: url(../images/login-bg.png) left top no-repeat;
	padding: 10px 0px 0px 23px;
}
.signup h2 {
	float: left;
	width: 90%;
	margin: 0;
	padding: 2px 0 20px 0;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
}
.signup a {
	font-size: 12px;
	padding: 0 5px;
}
.login-form {
	padding: 0;
	margin: 0;
}
.login-btn {
	width: 71px !important;
	border: 0;
	height: 28px;
	float: left;
	background: url(../images/login-btn.png) left top no-repeat;
}
/*footer area css*/
.footer-nav {
	float: left;
	width: 840px;
	padding-bottom: 10px;
}
.footer-nav ul {
	float: left;
	margin: 0;
}
.footer-nav ul li, .footer-nav span {
	float: left;
	display: inline;
	font-size: 13px
}
.footer-nav ul li a {
	color: #1795d1;
	font-size: 12px;
	padding: 0 10px;
	float: left;
}
.footer-nav ul li a:hover {
	color: #000;
}
/*sign up page*/

.page-content {
	background: #EEF7FD;
	float: left;
	width: 900px;
	margin-top: 0px;
	padding: 20px;
}
.title-main{
	float: left;
	width: 99%;
	background: none repeat scroll 0 0 #D8EDFA;
    border-bottom: 1px solid #ACDAF4;
    color: #064771;
    margin: 10px 0 0 0;
    padding:0 0 0 10px;
    font-size:18px;
    font-weight:normal;
}

.register-form {
	float: left;
	width: 100%;
}
.register-form p {
	float: left;
	width: 50%;
	margin: 0;
}
.wrap-form {
	float: left;
	width: 50%;
	margin: 0;
}
/*css for smallgroup/create*/
 .control-label{ text-align:left!important;}
.form-horizontal .controls{ margin-left:150px!important;}
.form-horizontal .control-label{ width:150px!important;}
/*css for smallgroup/create end*/
.wrap-form p {
	width: 100%!important;
}
.wrap-form label input{ margin-right:5px;}
.register-form label {
	float: left;
	width: 30%;
}
.wrap-form input,.wrap-form textarea { width:265px!important;}
.register-form input, .register-form select {
	float: left;
	margin-right: 5px;
}
#rdoGender,#rdoGender2,.wdt33 input{	width: auto!important;}
label.error-text{
	font-size: 12px;
	color: #900;
	width: 65%;
	float: left;
	padding-left: 30%
}
label.error-text2 {
	font-size: 12px;
	color: #900;
	width: 95%;
	float: left;
}
.submit {
	width: 71px !important;
	border: 0;
	height: 28px;
	float: left;
	background: url(../images/submit.png) left top no-repeat;
	margin-top: 15px;
}
.cancel {
	width: 71px !important;
	border: 0;
	height: 28px;
	float: left;
	background: none;
	margin-top: 15px;
	color:#1795D1;
	font-size:14px;
}
/*Forgot password*/
.forgote_password_pad {
	float: left;
	margin: 10px 0 0 220px;
	width: 523px;
}
.forgot_head {
	background: #0A82C5;
	color: #FFFFFF;
	font-family: 'HelveticaNeueLTPro-BdCn';
	font-size: 26px;
	height: auto;
	line-height: 36px;
	margin: 0;
	padding: 0 0 0 10px;
	width: auto;
}
.forget_mid_part {
	background: none repeat scroll 0 0 #F6F6F6;
	float: left;
	padding: 10px;
	width: 503px;
}
.forget_mid_part p {
	width: 470px;
	padding: 0 0 0 30px;
}
.forget_mid_part label {
	width: 130px;
}
.sub_header_text {
	border-bottom: 1px solid #000000;
	color: #000000;
	font-size: 17px;
	padding-bottom: 5px;
	text-align: left;
	font-weight: normal;
}
.forgot_bottom {
	background: url("../images/forgote_pass_bottom_bg.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 20px;
	width: 523px;
}
.wrap-field {
	float: left;
	width: 300px;
	padding-right: 30px;
}
.wrap-field label {
	float: left;
	font-size: 13px;
}
.wrap-field input {
	float: left;
	font-size: 13px;
	width: 285px;
	margin: 0!important;
}
/*churchtrade page*/

.churchtrade-box {
	float: left;
	width: 620px;
	padding: 20px 0px;
	margin: 0 10px;
}
.churchtrade-box img {
	float: left;
	padding-bottom: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.churchtrade-box p {
	float: left;
	width: 405px;
	padding: 0 0 0 10px;
	margin: 0;
	font-size: 13px;
}
.churchtrade-box td{ border:none! important;}

.detail-link {
	float: right;
	width: 400px;
	margin: 0;
}
.detail-link li {
	float: left;
	padding: 0 10px 0 0;
	color: #777777;
	font-size: 13px;
	list-style: disc outside;
	width: 100%
}
.detail-link li a {
	float: left;
	padding: 0 10px 0 0;
	color: #777777;
}
.churchtrade-box span {
	float: left;
	width: 155px;
}
.cata-box {
	float: left;
	width: 145px;
	padding-right: 10px;
}
.cata-box p {
	float: left;
	width: 147px;
	color: #000;
}
.buy-link {
	float: left;
	padding-top: 20px;
	width: 65%;
}
.buy-link p {
	width: 45%;
}
.buy-link span {
	color: #000;
	width: 100%;
	font-weight: bold;
	margin-bottom: 7px;
}
.buy {
	float: right!important;
	text-align: center;
}
.border-none {
	border: none !important;
}
/*serve-right*/
.create-area {
	float: left;
	width: 235px;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.btn-g {
	padding: 5px 20px;
	background: url(../images/btn.png) left top repeat-x;
	border: none!important;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-weight:normal!important;
}
.btn-grey {
	padding: 5px 20px;
	background: url(../images/btn-g.png) left top repeat-x;
	border: solid 1px #cccccc;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-weight:normal!important;
}
/*login page*/

.login-area {
	float: left;
	width: 300px;
	padding: 10px;
	background: #5ab4ea;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.login-area h2, .login-area h3 {
	margin: 0;
	line-height: 25px;
	color: #064771;
	font-weight: normal;
}
.login-area h2 {
	font-size: 24px;
}
.login-area h3 {
	padding-bottom: 10px;
}
.login-area input {
	width: 95%;
	color: #064771!important;
}
.login-area .btn-g {
	color: #fff;
	font-weight: bold;
	padding: 5px 30px;
	color: #fff!important
}
.login-area .error-text{padding-left:0; width:95%;}
.min {
	min-height: 280px;
	padding: 10px 0 0 23px;
	min-width: 235px;
}
.profile-img {
	float: left;
	width: 290px;
}
.signin-inside {
	float: left;
	width: 265px;
}
.signin-inside p {
	float: left;
	color: #064771;
}
.logout {
	float: left;
	padding: 1% 0 0 1%;
}
.logout a {
	color: #fff;
}
.success-login {
	float: left;
	width: 100%;
	min-height:200px;
}
.success-login a { padding:5px 15px!important; margin:0px 7px 0 0; float:left;}

/*pop up message*/
.popup-box-wrap {
	float: left;
	width: 100%;
	background: #eef7fd;
	border: solid 1px #BBBFC1;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.popup-box-wrap  h1 {
	float: left;
	width: 99%;
	background: #d8edfa;
	color: #064771;
	border-bottom: solid 1px #acdaf4;
	margin: 0;
	padding-left: 10px;
}
.popup-box {
	float: left;
	width: 100%;
	padding: 20px 0px;
	margin: 0 10px;
}

.popup-box p {
	float: left;
	width: 535px;
	padding: 0 0 0 10px;
	margin: 0;
	font-size: 13px;
}
/* Added by Gautam on 08-Nov-2013 */
.wrap-login{ float:left;width:180px;}
.wrap-login label.error-text{ padding-left:0; width:100%;}

/*for church profile style*/

.church-prof-left {
	float: left;
	width: 495px;
	background: #eef7fd;
	border: solid 1px #BBBFC1;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.church-prof-left h1 {
	float: left;
	width: 485px;
	background: #d8edfa;
	color: #064771;
	border-bottom: solid 1px #acdaf4;
	margin: 0 0 10px 0;
	padding-left: 10px;
}
.church-prof-left p{ float:left; padding-left:5%; width:45%; font-size:15px;}
.church-prof-left span{ float:left;}

.church-prof-left span img {
	margin-right:10px;
	height:39px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

}
.connection-blue {
	float: right;
	background: url(../images/add-blue.png) left 4px no-repeat;
	padding-left: 15px;
	color: #1795D1;
	font-size: 13px;
	margin-top: 2px;
}
/*Yes No Box CSS classes*/
.ynb_btn
{
	padding: 5px 20px;
	background: url(../images/btn.png) left top repeat-x;
	border: none!important;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-weight:normal!important;
	border:none;
	color:#fff;
}

.mb_btn
{
	padding: 5px 20px;
	background: url(../images/btn.png) left top repeat-x;
	border: none!important;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-weight:normal!important;
	border:none;
	color:#fff;
}
/*END_OF Yes No Box CSS classes*/
.diff_font{
font-style: italic;
}

#signup_error{
	float :left;
	width: 100%;
	color:#E9322D;
}
.churchtrade-box label{padding-left:0!important; width:100%;}
.check{font-style: normal;margin:2px 0 0 5px;}

#chkConfirmAdmin{margin-top:2px!important;}


/* Used by Image Tool Tip jQuery plugin */
.thumbnail-item {
	/* position relative so that we can use position absolute for the tooltip */
	position: relative;
	float: left;
	margin: 0px 0px;
}

.thumbnail-item a {
	display: block;
}

.thumbnail-item img.thumbnail {
	border:3px solid #ccc;
}

.tooltip-img {
	/* by default, hide it */
	display: none;
	/* allow us to move the tooltip */
	position: absolute;
	/* align the image properly */
	padding: 8px 0 0 8px;
	opacity:1;
}

.tooltip-img span.overlay {
		/* the png image, need ie6 hack though */

		/* put this overlay o;n the top of the tooltip image */
		position: absolute;
		top: 0px;
		left: 0px;
		display: block;
		width: 200px;
		height: 200px;
}
.tooltip-img img{height:200px!important;	border:solid 5px #ccc }
/* END_OF Used by Image Tool Tip jQuery plugin */

.selectize-input{ width:280px!important;}

/* Bug fix for Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .tooltip-img img{ max-width:none!important;}

}


.pnotfound{ width:100%;float:left; text-align:center; font-size:18px; color:#282828;min-height:150px;}
#frmChurchSignUp label{padding:0!important;width:100%;}
/* css for remember me n forget pass */
.wrap-remem{width:100%; float:left;}
.wrap-remem span{/* width:50%;float:left;*/}
.wrap-remem label{/* width:70%!important;*/}
.wrap-crop img{max-width:auto!important;width: auto!important;}

.wrap{ float:left;}
.wrap label{ float:left; margin-right:20px;}
.wrap textarea{ min-width:96%;}
/*css added for http://mychurchcircle.gdongol/message (General)*/
.wrapper .nav { width:98%!important; margin-bottom:15px;}
.wrapper .tab-content{clear:both;}
.wrapper .show-grid{ background:#EEF7FD !important;}
.wrapper #btnComposeMessage{ margin-left:20px!important;}
.wrapper .nav a,.wrapper .nav a:hover {color:#006DCC !important;}
.wrapper #message_reader{ border-color:#dddddd!important;}
.wrapper #FormMessageList{ margin:0!important;}

/*css added for search/advancedsearch*/

.wrap-search{ float:left;}
.wrap-search .control-group{ float:left; width:50%;}
.wrap-search input{ margin:0 5px 0px 0!important; }

/*just added dec 13*/
.notification-wrap{ float:left; background:#C1C1C1; width:30px; height:24px; position:relative;}
.notification-wrap a{ background:none!important; margin:5px!important;}
.noti-msg{ position:absolute; right:-12px; top:2px; }
.noti-msg {
	background:url(../images/noti-msg.png) left top no-repeat;
	width:20px;
	height:25px;
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	}
.noti-msg em{margin-top:-4px; width:20px; float:left;	font-style:normal!important;
 }
/*like list css*/

.like-list{
	background:#D8EDFA;
	position:absolute;
	left:10px;
	bottom:20px;
	padding:10px;
	border-radius:7px;
	border:solid 1px #ACDAF4;
	font-size:12px;
	color:#0088CC;
 }

 .pray-list{
	background:#D8EDFA;
	position:absolute;
	left:175px;
	bottom:20px;
	padding:10px;
	border-radius:7px;
	border:solid 1px #ACDAF4;
	font-size:12px;
	color:#0088CC;
 }
  .comment-list{
    float:left;
	background:#D8EDFA;
	padding:0px 10px 10px 10px;
	border:solid 1px #ACDAF4;
	font-size:12px;
	color:#0088CC;
	margin-top:7px;
	width:97%;
 }
 .comment-list textarea{min-height:20px!important;}

 /*add css for coment box in dec25*/
.activities-box-inside {
	float: left;
	width: 98%;
	padding: 10px 0px;
	border-bottom: solid 1px #bbbfc1;
	margin: 0 10px;
	position:relative;
}
.activities-box-inside img {
	float: left;
	width:30px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.activities-box-inside p {
	float: left;
	width: 535px;
	padding: 0 0 0 10px;
	margin: 0;
	font-size: 13px;
	color:#000;
}
.activities-box-inside .act-link{ float:left; padding-left:40px;}
/*css for search result*/

.search-result-wrp{ float: left; width:100%; border-bottom:1px solid #BBBFC1; margin: 0 0 7px; 0}
.search-result-wrp span{ font-size:13px;}


.serve-img {
	height: 130px;
}

.serve-view-more-a {
	color: #F00 !important;
	height: 80px;
	overflow: hidden;
}

.serve-view-more-b {
	color: #F00 !important;
	height: 100px;
	overflow-y: scroll;
}


.error {
	color: #F00;
}

/*notification area css*/

.notification-area {
	width: 400px;
	float: right;
	padding: 0px;
	position: absolute;
	right:20px;
	top:39px;
	background: none repeat scroll 0 0 padding-box rgba(255, 255, 255, 0.98);
	border: 1px solid rgba(100, 100, 100, 0.4);
	border-radius: 3px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
	z-index:200;
}
.notification-inside {
	float: left;
	width: 400px;
	height: 500px;
	overflow: scroll;
}
.notification-inside h2 {
	background: none repeat scroll 0 0 #D8EDFA;
	border-bottom: 1px solid #ACDAF4;
	margin:0;
	padding:0 10px;
}
.triangle {
	border-bottom: 8px solid #FFFFFF;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	height: 0;
	left: 39%;
	margin-left: -8px;
	position: absolute;
	top: -8px;
	width: 0;
	z-index: 100;
}
.notification-area .activities-box{ width:95%!important; padding:10px 0; margin-bottom:5px;}
.notification-area .activities-box p{ width:75%!important;}
.notification-area .act-link{ width:80%!important; padding-right:15px;}
.notification-area img{ width:50px;}
.notification-area .old-post{ width:95%; padding:5px;}


.churchtrade-box .activities-box
{width:590px!important; padding:10px 0;}

.churchtrade-box .activities-box span{ width:auto!important;}

.span-view-more {
	color: red !important;
	font-weight: bold;
	margin: 0px !important;
}

/*for social icon*/

.social-icon{ float: right;}
.social-icon a{ 
	float: left; width:35px; height:30px; margin-bottom:5px;
}
.fb {background:url(../images/social_icon.png) left top no-repeat;}
.fb:hover {background:url(../images/social_hover.png) left top no-repeat;}
.twitter {background:url(../images/social_icon.png) right top no-repeat;}
.twitter:hover {background:url(../images/social_hover.png) right top no-repeat;}
.lead{
	line-height:25px!important;
	font-size:25px!important;
	font-weight:bold;
	
}
/*serve page creeate event text template*/
.content-right .text-serve{
	font-family: 'Open Sans', sans-serif;
	text-align:center;	
	 }

.bold-text{}
.green{ color:#7db637; text-transform:uppercase;}
.green-bold{}

.dashed{
	border: 3px dashed #21303b;
	}
.outline{
	outline: 1px dashed #98abb9;
    outline-offset: -5px;

	}
#letterpress {
	font-size:15px;
	font-family: Georgia;
    font-size: 1 em;
    font-style: italic;
	line-height:25px;
}

		#about { margin: 20px 7px 0 7px; }
		#about div { font-family:consolas;
					color:#064771;
		             -webkit-transition: all 0.9s ease-out;
		             -moz-transition: all 0.9s ease-out;
		             -o-transition: all 0.9s ease-out;
					 
		}
		#about div:nth-child(1) { font-size: 17px; letter-spacing: 1px;}
		#about div:hover { -webkit-transform: scale(1.0); -moz-transform: scale(1.1); -o-transform: scale(1.0); text-shadow: 2px 2px 2px #fff ; }
		#about a {  text-decoration: none;  }

/*my church circle small group  css*/

.title-smallgroup{
	float:left;
	margin:0;
	padding:0 0 0 20px;
	font-size:18px;
	color:#fff;
	}
.right-wrap{ float:left;}
.right-wrap a{ float:left; width:85%; margin-bottom:20px;}


/*profile edit of small group*/
.small_group_wrap .wrap_pic{ margin:0!important;}
.small_group_wrap .wrap_pic p{ height:70px; width:100%!important; margin-right:20px; padding-bottom:7px;}
.small_group_wrap .span2{ width:auto; margin:0; float:none;}
.small_group_wrap .wrap_pic p label{ width:25%!important;}

.small_group_wrap .wrap_pic{ width:43%; float:left;}

/*newly added for form*/
.selectize-control { margin-left:0 !important;}
.inside-smallgroup p{ width:100%!important;}
.inside-smallgroup p span:last-child{ width:70%!important;}

.small-group span a{ padding-right:0!important;}

/* ************************************************************************** */
.logo {
	position: absolute;
	left: 0px;
	top: 0px; /* 10px; */
}
.header-area {
	background-color: #9DE4DA;
	/* width: 100%; */
	width: 940px;
	height: 45px;
}
.page-header{
	background-color: #00FFFF;
	width: 940px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: relative;

/* background: url(../images/body_bg.jpg) left top repeat-x; */
/* 	float: left;
	width: 100%;
	margin-top:0px;
 */
}
.login-box-area {
	background-color: #00FFFF;
}
.product-item {
	float: left;
}
.wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
