/*********************************************************************************/
/* Mobile (<= 480px)                                                             */
/*********************************************************************************/


/* MobileUI */

#titleBar {
	width:45%!important;
}
#titleBar .title {
	display: block;
	text-align: center;
	font-size: 1.2em;
	line-height: 44px;
}
#titleBar .toggle {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 60px;
}
#titleBar .toggle:after {
	content: '';
	display: block;
	position: absolute;
	top: 6px;
	left: 6px;
	color: #fff;
/*	background: rgba(255, 255, 255, 0.025);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05), inset 0px -8px 10px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
*/	width: 36px;
	height: 24px;
	border-radius: 8px;
}
#titleBar .toggle:before {
	content: '';
	position: absolute;
	width: 36px;
	height: 24px;
	background: url(../images/nav_btn_drop.png) left top no-repeat;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#titleBar .toggle:active:after {
	background: rgba(255, 255, 255, 0.05);
}
#navPanel {
	background: #66baec;
	box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -2px 0px 25px 0px rgba(0, 0, 0, 0.5);
}
#navPanel .link {
	color: #fff;
	text-decoration: none;
	font-size: 1.25em;
	line-height: 2em;
	padding : 0.5em ;
	border-top: solid 1px #efefef;
	border-bottom: solid 1px rgba(0, 0, 0, 0.4);
	width:100%;
}
#navPanel .link:first-child {
	border-top: 0;
}
#navPanel .link:last-child {
	border-bottom: 0;
}
#navPanel .link:hover {
	background:url("../images/nav_hover.jpg") repeat-x  left top;
	color:#064771;
}
