<!--popup message starts-->
                <div class="popup-box-wrap">
                     <h1>Message alert</h1>
                    <div class="popup-box">
                    <p>This Church is pre-loaded. Are you the Church Admin for this Church?</p>
                    <p class=" margin-t10"><a href="" class="btn-g white">Yes</a> Or <a href="" class="btn-g white">No</a></p>
                    </div>
                </div>
<!--popup message ends-->